body{
    background-color:#f1f2f3;
    color: #444444;
    font-family: arial;
    font-size: 13px;
}
#page{
    background-image:none;
}
#logo{
    margin:0;
}
#page #content-inner,
#page #sidebar-last.nested,
#page #main{
    background-color: transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding:0;
    background-image:none;
    overflow:visible;
}
#page #main #content-group-inner{
    margin:0 20px 0 0;
}
#content-inner{
    overflow:visible;
}
#page #content-inner-inner,
#page #sidebar-last.nested .inner,
#main .inner{
    padding:0;
}

#content-group-inner{
    margin:0;
}
#site-name-wrapper,
.sidebar-last-cap {
    display: none;
}
a,
a:link,
a:visited{
    color: #1b80c9;
    text-decoration:none;
    outline:none;
}
a:hover{
    text-decoration:underline;
}
.group-members-link,
.view div.more-link,
.view .view-footer,
.heartbeat-more-messages-wrapper {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    border: 0 none;
    margin: 0;
    padding: 0;
}
tr td,
tr.views-row-first.views-row-last,
tr.views-row-first.views-row-last td,
tr.first.last, tr.first.last td {
    border:0 none;
}
.sidebar-last .block {
    font-size: 100%;
    font-weight: normal;
}
.item-list ul li,
.node .inner ul li,
.panel-pane .inner ul li,
.block .content ul li{
    list-style:none;
    background-image:none;
    margin:0;
    padding:0;
}
.sidebar-first .block .content,
.sidebar-last .block .content {
    padding: 0;
}
.group-managers-label,
.group-members-label{
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.view-group-tab-content .views-field-title{
    font-size: 16px;
    margin-bottom: 0;
}
.views-field-name a{
    color:#f77f00;
    font-size:14px;
}
#powered_by{
    background-image:url('../images/sprites.png');
    background-position:-288px -75px;
    width:110px;
    height:24px;
    background-repeat:no-repeat;
    margin-bottom:4em;
    float:right;
}
#page h1 {
    color: #0088c9;
    font-size: 32px;
    font-weight: bold;

    background-color: #FFFFFF;
    margin: 0;
    padding: 20px 20px 0;
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;
}
body.hastabs.not-front #page h1{
      margin-bottom: 20px;
    padding-bottom: 20px;
}
body.node-type-group #page #page-inner h1{
    margin-bottom:0;
    padding-bottom:0;
}
#page h2{
    color: #656565;
    font-size: 18px;
    font-weight: bold;
    margin:0 0 8px;
}
#page a h2{
    color:#1B80C9;
}
/* BEGIN tables */
#page #page-inner thead th{
    background-color: #0088C9;
    border: 0 none;
    color: #FFFFFF;
    float: none;
    margin: 0;
    padding: 4px 8px;
    width: auto;
    font-weight:bold;
    font-size:13px;
    border-radius: 0 0 0 0;
    box-shadow: none;
}
#page thead th a{
    color: #FFFFFF;
}
#page table td{
    float: none;
    margin: 0;
    font-size:13px;
    padding: 4px 8px;
    width: auto;
}
/* END tables */

/* BEGIN blocks */
body.not-front #content-top,
body.not-front #content-content,
body.not-front #group-header,
#sidebar-first .block,
#sidebar-last .block,
body.front #main .block{
    background-color: #FFFFFF;
    display: block;
    padding: 0;
    overflow:hidden;	
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;	
    border:0 none;
    margin-bottom:20px;

	padding:20px;
}
#content-top{
    width:600px;
}
#page #sidebar-last .block,
#page #sidebar-first .block{
    width:100%;
    padding:0;
    overflow:visible;
}
#page #sidebar-last .block .inner,
#page #sidebar-first .block .inner{
    padding:20px;
    margin:0;
}
#block-views-group_tab_content-block_1{
    width:auto;
}
#view-id-groups_my_groups_listing-page_1 .views-field-field-group-image-fid{
    margin-right:20px;
}
#view-id-groups_my_groups_listing-page_1 .views-field-description .title a{
    font-size:18px;
    font-weight:bold;
}
/*body.not-front #content-content,
body.not-front #group-header,
#page #sidebar-last.nested .inner .block .inner,
#main .block .inner{
    padding:20px;	
}*/
.group-header-text {
    font-family: arial;
    font-style: normal;
    margin-left: 0;
    text-indent: 0;
}
body.not-front #content-inner-inner{
    position:relative;
    margin:0;
}
#page #block-commons_nivaria-1{
    float:none;
    width:auto;
    overflow:visible;
}
#page #block-commons_nivaria-1 h2{
    margin-bottom:20px;
}
#block-views-29a6f88b4b3b4e056713daa56b994c9e{
    width:42%;
}
#block-views-content_event_page-block_1{
    float: right;
    width: 42%;
}
/* END blocks */

/* BEGIN exposed view filter */
#page .views-exposed-form{
    background-color: transparent;
    border: 0 none;
}
#page .views-exposed-widgets-group-search{
    margin: 0;
    width: 526px;
}
.views-exposed-widget-group-search {
    float: left;
    margin: 2px 8px 8px 0;
}
#edit-keys{
    width:157px;
}
#page textarea,
#page .form-text{    
    border:1px solid #ccc;
}
.form-item .form-text{
    background-image:none;
 }
 #sidebar-first .form-text{
    width:136px;
 }
 #page .views-exposed-form .form-submit{
    background-color: #f57d0a;
    background-image:url('../images/sprites.png');
    background-position:-446px -69px;
       border-radius: 8px 8px 8px 8px;
    box-shadow: none;
    height: 27px;
    margin-top: 16px;
    padding: 0;
    text-indent: -9999px;
    width: 44px;
 }
/* END exposed view filter */

.view-all-questions{
    background-color:#fff;
}
.node .inner ul,
.panel-pane .inner ul,
.block .inner ul {
    padding-left:0;
}
/* BEGIN header stuff */
.view-user-meta .views-field-name .welcome-text {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    color: #DBDBDB;
    font-size: 12px;
    font-weight: normal;
    padding-top: 4px;
    text-align: left;
}
.view-user-meta .views-field-name .welcome-text{
    border:1px solid #00538B;
    border-bottom:0 none;
    border-top: 0 none;
}
.view-user-meta .views-field-name .welcome-text a{
    color: #00A5F1;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0;
    padding-right:17px;
    
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-140px -141px;    
}
.user-field-options {
    border:1px solid #00538B;
    border-top:0 none;
}
#search-box{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-188px -323px;
    width:300px;
    height:26px;
    background-color: transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    min-width: 0;
    padding: 0;
    top:68px;
}
#search-box-inner{
    border:0 none;
}
#search-box .form-text{
    background-color: transparent;
	border:0 none;
}
#page #search-box .form-submit{
   background-color: transparent;
    background-image: none;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: -21px;
    padding: 0;
    text-indent: -9999px;
    width: 40px;
}
#search-box .contextual-search-wrapper{
    border: 0 none;
    left: 0;
    right: auto;
    top: 3px;
}
#search-box .contextual-search-wrapper a{
    background-color: transparent;
    background-image: none;
    color: #0077B7;
}
#nav-group{
    background-color: transparent;
    background-image: none;
    border: 0 none;
    left: 306px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 36px;
}
#nav-group li{
    border-left: 1px solid #00559C;
}
#nav-group li:last-child{
    border-right: 1px solid #00559C;
}
#nav-group a{
        background-color: transparent;
    background-image: none;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    padding: 40px 22px 0 22px;
    text-align: center;
    text-transform: uppercase;
    min-width: 46px;
    width:auto;
    border-left: 1px solid #009EFF;
}
#nav-group ul.menu li.first a{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-284px -242px;
}
#nav-group ul.menu li.second a{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-277px -184px;
}
#nav-group ul.menu li.third a{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-262px -117px;
}
#nav-group ul.menu li ul.menu{
    background-color: transparent;
    background-image: none;
    border: 0 none;
    margin: 0;
    top: 71px;
    width: 600px;
    padding-left:22px;
}
#nav-group ul.menu li ul.menu li{
    border: 0 none;
    display: block;
    float: left;
    height: 20px;
    padding-right: 1em;
    width: auto;
}
#nav-group ul.menu li ul.menu li a{
     background-image: none;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 1em 0 0;
    border:0 none;
}
/* END header stuff */

/* BEGIN block siguenos */
#page .view .view-content .item-list li.views-row,
#page .block-lists li,
#page .block_lists li{
    margin:0;
    border:0 none;
    padding:0;
    
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    padding-top: 10px;
}
#page #main .block-lists li,
#page #main .block_lists li{
    padding-left:16px;
    background-position:-274px -505px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');
}
#page .view-group-block-events-past .view-content .item-list li.views-row,
#page .view-event-past-events .view-content .item-list li.views-row,
#page .view-event-latest .view-content .item-list li.views-row,
#page .view-upcoming-events .view-content .item-list li.views-row,
#page .view-group-block-events-upcoming .view-content .item-list li.views-row,
#page .view-content-event-page .view-content .item-list li.views-row{
    padding-left:22px;
    background-position:-320px -399px;
    background-repeat:no-repeat;
    background-image:url('../images/sprites.png');    
}
#page .view-group-block-events-past li .views-field-field-date-value,
#page .view-event-past-events li .views-field-field-date-value,
#page .view-event-latest li .views-field-field-date-value,
#page .view-upcoming-events li .views-field-field-date-value,
#page .view-group-block-events-upcoming li .views-field-field-date-value,
#page .view-content-event-page li .views-field-field-date-value{
    display:none;
}
#page .view .view-content .item-list li.views-row:first-child,
#page .block-lists li:first-child,
#page .block_lists li:first-child{
    border:0 none;
    margin:0;
}
/* END block siguenos */
.tagadelic_views{
    text-align:center;
    line-height:2em;
}
.tagadelic_views a{
    
}
fieldset {
    background-color: transparent;
    border: 0 none;
    padding: 1em 0 0;
}
fieldset legend{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}
fieldset .form-item{
    clear:both;
}

.fieldset-wrapper{
    clear:both;
}
/* BEGIN groups box */
#page #block-views-groups_featured_groups-block_1{
    padding-bottom:20px;
}
.view-subgroups-main-listing{
    
}
#page .view-subgroups-main-listing .more-link{
    padding:1em 20px 0;
}
#page #block-views-subgroups_main_listing-block_1 .content{
    margin-left:-20px;
    margin-right:-20px;
}
.view-subgroups-main-listing .views-field-title a{
    font-size:13px;
    font-weight:normal;
    color:#000;
}
.view-subgroups-main-listing .views-field-title{
    width:120px;
    overflow:hidden;
    float:left;
}
#page .view-subgroups-main-listing .views-field-subscribe a,
#page .view-subgroups-main-listing .views-field-leave-group a{
    float:right;
    width:82px;
}
#page #page-inner .view-subgroups-main-listing .views-row{
    padding:14px 10px;
    margin:0;
}
#page .view-subgroups-main-listing .views-row-odd{
    background-color:#f5f5f5;
}
#page .view-subgroups-main-listing .views-row-even{
    background-color:#fff;
}
/* BEGIN home slideshow */
#block-views-home_slideshow-block_1{
    float:none;
    width:100%;
}
#block-views-home_slideshow-block_1 .views-field-field-group-image-fid a{
    display:block;
    width:352px;
    height:248px;
    float:right;
}
#block-views-home_slideshow-block_1 .inner{
    background-color: #FFFFFF;
    padding: 42px 20px;
    height:248px;
    position:relative;	
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;
}
#page #page-inner .views_slideshow_previous{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-97px -75px;
    display:block;
    width:50px;
    height:50px;
    text-indent:-9999px;
    position:absolute;
    top:140px;
    z-index:10;
    left:12px;
}
#page #page-inner .views_slideshow_next{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-97px -190px;
    display:block;
    width:50px;
    height:50px;
    text-indent:-9999px;
    position:absolute;
    top:140px;
    z-index:10;
    right:12px;
}
#page #page-inner .views_slideshow_pause{
    display:none;
}
/* END home slideshow */

/* BEGIN front anonymous content */
#page #block-boxes-homepage_info_box{
    padding-bottom:0;
}
#block-boxes-homepage_info_box h2.block-title{
    color: #0077B7;
    font-size: 22px;
    font-weight: normal;
}
#block-boxes-homepage_info_box p {
   color: #999999;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 24px;
}
#block-boxes-homepage_info_box .intro-textblock p {
    font-size:13px;
    font-weight:normal;
    margin:0;
    color:#444;
}
.view-recent-notices .views-field-name {
    margin-left: 0;
}
.view-homepage-group-showcase .views-row,
#block-boxes-homepage_info_box.block .inner,
#block-views-groups_featured_groups-block_1.block .inner,
#block-views-group_node-block_1.block .inner {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    border-radius: 0 0 0 0;
    margin: 0;
    padding: 0;
}
#block-boxes-homepage_info_box .intro-textblock h3{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    margin:0 0 12px;
}
#block-boxes-homepage_info_box a.intro-morebutton {
    background-image: none;
    color: #1B80C9;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
body.not-logged-in.front #content-inner-inner{
    margin:0;
}
#block-views-homepage_group_showcase-block_1{
    margin-left: 0;
    width: auto;
}
.view-homepage-group-showcase .views-row .views-field-title {
    color:#000;
    font-size:18px;
    margin:20px 0 10px;
}
.view-homepage-group-showcase .views-row .views-field-title a{
    color:#000;
}
.view-homepage-group-showcase .views-row{
    position:relative;
    padding-top:30px;
}
.view-homepage-group-showcase .views-row .views-field-field-group-image-fid{
      position: absolute;
    right: 12px;
    top: 12px;
    width: 10%;  
}
.view-homepage-group-showcase .views-row .view-homepage-group-showcase.view-display-id-block_2 {
    float: none;
    width: 100%;
}
.sidebar-last .block-views .views-field-field-group-image-fid img,
.sidebar-last .block-views .views-field-picture img {
    height: auto;
    max-width: 100%;
    width: auto;
}
/* END front anonymous content */

/* BEGIN metagroups view */
#block-views-metagroups-block_1{
    float:none;
    width:auto;
    margin-left:24px;
}
#page #page-inner .view-metagroups li.views-row{
    background-color: #FFFFFF;
    border: 0 none;
    display: block;
    float: left;
    height: 168px;
    list-style: none outside none;
    margin: 0 0 0 30px;
    padding: 0;
    text-align: center;
    width: 200px;
    background-image:none;	
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;	
}
#page #page-inner .view-metagroups li.views-row:first-child{
    margin-left:0;
}
#page #page-inner .view-metagroups li.views-row.views-row-1{
    border-top: 4px solid #00A1FE;
}
#page #page-inner .view-metagroups li.views-row.views-row-2{
    border-top: 4px solid #ffdc48;
}
#page #page-inner .view-metagroups li.views-row.views-row-3{
    border-top: 4px solid #ff3f3f;
}
#page #page-inner .view-metagroups li.views-row.views-row-4{
    border-top: 4px solid #74d898;
}
#page #page-inner .view-metagroups li.views-row .views-field-field-icon-fid a{
    display:block;
    margin-top:28px;
    height:88px;
}
#page #page-inner .view-metagroups li.views-row .views-field-title a{
    color:#000;
    font-size:20px;
}
#page #page-inner .view-metagroups li.views-row .views-field-field-tagline-value a{
    color:#999;
    font-size:16px;
}
/* END metagroups view */
/* BEGIN images */
/*.sidebar-last .block-views .views-field-field-group-image-fid,
.sidebar-last .block-views .views-field-picture,
.sidebar-last .block-views .views-field-field-date-value {
    float: none;
    margin: 0;
    width: auto;
}*/
#block-views-29a6f88b4b3b4e056713daa56b994c9e .views-field-field-content-images-fid{
  float: left;
    margin-right: 10px;
}

#block-views-groups_featured_groups-block_1 .content .views-row .views-field-field-group-image-fid {
    margin-right:20px;
}
#block-views-groups_featured_groups-block_1 .content .views-row .views-field-description .title a{
    font-size: 18px;
    font-weight: bold;
}
#page .block-views .views-field-picture{
    border-radius:8px;
    /*float:none;
    margin:0;*/
    width:auto;
    background-color:#fff;
    padding:3px;
    border:1px solid #D6D6D6;
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;	    
}
#page .block-views .views-field-picture a{
    display:block;
}
#page .block-views .views-field-picture img{
    vertical-align:middle;
}
/* END images */
#sidebar-first{
    margin-right:20px;
    width:220px;
}
body.page-groups .inner.content{
    background-color:#fff;
}
.block.block-commons_profile .links .ur_action {
    text-align: left;
}
/* BEGIN buttons */
.block.block-commons_profile .links .ur_action a,
#og-manage-form li a,
#block-views-recent_notices-block_1 .view-header a,
.node .inner .links .comment_clear_style a,
#page .node-type-answer .comment_clear_style a,
#page .form-submit,
#edit-fbss-submit,
.share-content,
#page .views-field-subscribe a,
.buttongreen1 {
    background-color: #ffffff;
    background-image: linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
    background-image: -moz-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
    background-image: -webkit-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
    background-image: -o-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
    background-image: -ms-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
    
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    min-height: 24px;
    padding: 0 14px;
    width: auto;
}
#page .views-field-leave-group a,
.WebButton001 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(225, 225, 225, 1) 100%, rgba(225, 225, 225, 1) 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(225, 225, 225, 1) 100%, rgba(225, 225, 225, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(225, 225, 225, 1) 100%, rgba(225, 225, 225, 1) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(225, 225, 225, 1) 100%, rgba(225, 225, 225, 1) 100%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(225, 225, 225, 1) 100%, rgba(225, 225, 225, 1) 100%);

	
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    min-height: 24px;
    padding: 0 14px;
    width: auto;
}
#page #edit-fbss-submit{
    /*background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-501px -75px;*/
}
/* END buttons */

/* BEGIN que esta pasando */
.facebook-status-update{
        background-color: #F3F3F3;
    float: left;
    padding: 8px;
    width: 444px;
    height:120px;
}
body.page-stream .facebook-status-update{
    width:584px;
}
.facebook-status-textarea-wrapper {
    border: 0 none;
}
.view-activity-log-stream{
    clear:both;
}
.facebook-status-submit.button.primary {
    background-color: green;
    background-image: none;
    border: 0 none;
}
.fbsmp-plugin-icon,
.fbsmp-icon-list {
    border:0 none;
}
.fbsmp-icon-list {
    top:0;
}
.fbsmp-icon-list #edit-photo-icon, .fbsmp-icon-list #edit-link-icon {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    color: #F35810;
}
.share-expanded{
    display:none;
    box-shadow: 2px 4px 4px #D6D6D6;
    -webkit-box-shadow: 2px 4px 4px #D6D6D6;
    -moz-box-shadow: 2px 4px 4px #D6D6D6;
    background-color: #FBFBFB;
    clear: both;
    width:220px;
    border:1px solid #D6D6D6;
    border-radius:8px;
    position: absolute;
    right: 0;
    z-index:10;
    margin-top:28px;
}
.share-content,
.share-content-block{
    float:right;
}
.share-content{
    padding-right: 28px;
    position: relative;
}
.share-content .expand{
    display:block;
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position:-421px -75px;
    width:17px;
    height:17px;
    position: absolute;
    right: 4px;
    top: 3px;
    text-indent:-9999px;
}
#edit-fbss-submit{
    top:36px;
}
.fbsmp-inner-collapsed {
   position: relative;
    right: -110px;
}
#page .share-expanded .item-list{
    padding:14px;
}
#page .share-expanded .item-list li{
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    padding-top: 10px;
    
    position:relative;
    padding-left:20px;
}
#page .share-expanded .item-list li:first-child{
    border:0 none;
    margin:0;
    padding-top:0;
}
#page .share-expanded .item-list li a{
    display: block;
    float: left;
    font-size: 15px;
}
#page .share-expanded .item-list li .content-description{
      clear: both;
    display: block;
}
.activity-log-content{
    color:#000;
}
.content-icon{
    background-image:url('../images/sprites.png');
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    display:block;
    left: 0;
    position: absolute;
    top: 12px;
}
#page .share-expanded .item-list li:first-child .content-icon{
    top:2px;
}
.icon_blog{
    background-position:-611px -13px;    
}
.icon_poll{
    background-position:-611px -244px;    
}
.icon_question{
    background-position:-611px -300px;    
}
.icon_event{
    background-position:-611px -183px;    
}
.icon_wiki{
    background-position:-611px -67px;    
}
.icon_group{
    background-position:-611px -124px;    
}
/*nuevo desde un modelo 360*/

.views-field-created span,
.activity-log-time a{
    color: #999999;
    font-size: 14px;
    font-style: italic;
}
.view-group-tab-content span.views-field-name,
.view-group-tab-content .views-field-tid,
.view-group-tab-content .views-field-created {
    font-size: 14px;
}
/* END que esta pasando */

/* BEGIN pager */
#page ul.pager{
    margin-bottom:0;
}
#page ul.pager li{
    border:0 none;
    background-color: transparent;    
    border-radius: 0 0 0 0;
    color: #444444;
    font-size: 14px;
    line-height: 14px;
    padding: 0 6px;
}
#page ul.pager li.pager-item{
    border-left: 1px solid #444444;
}
#page ul.pager li.pager-item.first{
    border:0 none;
}
#page ul.pager li a{
    border:0 none;
    background-color: transparent;
    color: #444444;
    font-size: 14px;
    line-height: 14px;
    padding:0;
    font-weight:bold;
}
#page ul.pager li a.active{
    color: #F77F00;
}
#page ul.pager li.pager-first a,
#page ul.pager li.pager-previous a,
#page ul.pager li.pager-last a,
#page ul.pager li.pager-next a{
    color:#0085cc;
}
/* END pager */

/* BEGIN breadcrumbs */
#breadcrumbs{
    margin-left:10px;
}
#breadcrumbs-inner{
    background-color: transparent;
    display: block;
    padding: 0;
}
#breadcrumbs-inner .breadcrumb{
    color:#444;
    font-size:11px;
}
#breadcrumbs-inner .breadcrumb a{
        color: #0087C9;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}
/* END breadcrumbs */

/* BEGIN fake tabs */
#page #content-tabs{
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}
#page #content-tabs-inner{
    padding:0;
}
#page #content-tabs  .tabs{
    border: 0 none;
    margin: 0;
    text-transform: capitalize;
}
#page #content-tabs  .tabs li{
    padding:0;
    margin:0;
}
#page #content-tabs  .tabs li a{
   background-color: #999999;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-right: 0.5em;
    padding: 5px 8px;
}
#page #content-tabs  .tabs li.active a{
    background-color:#0086cc;   
}
/* END fake tabs */

/* BEGIN page groups */
#page #main #block-views-groups_featured_groups-block_1 .inner{
    background-color: transparent;
    background-image: none;
    border: 0 none;
    margin: 0;
    width: auto;
}
/* END 	page groups */

/* BEGIN user page */
body.page-user-1 #block-facebook_status-facebook_status{
    width:auto;
}
/* END user page */

.block .calendar-calendar .month-view table tr td.today {
    background-color: #0088C9;
    color: #FFFFFF;
}
.view-user-meta .user-field-options div {
    float: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.view-user-meta .user-field-options div a {
    color:#1B80C9;
}
/* CSS generated from Adobe Fireworks document: CEG-homev2.fw.png*/
.Shadowbox {
	background-color: #ffffff;
}
.Botonvioletanivaria {
	background-color: #8c81aa;
}
.Bloquegrissuavenivaria {
	background-color: #999999;
}
.Bloquesombra {
	background-color: #ffffff;
}
.Estilo {
	color: #1c81c9;
	font-size: 15px;
}
.NaranjaNivariasolido {
	background-color: #f57d0a;
}
.Estilo2 {
	background-color: #0088c9;
}
.WebButton490 {
	background-color: #e4f1f8;
	border-color: #54b200;
	border-width: 1px;
	background-image: linear-gradient(rgba(204, 232, 179, 1) 0%, rgba(122, 185, 54, 1) 47%, rgba(98, 173, 18, 1) 49%, rgba(143, 196, 44, 1) 98%, rgba(144, 197, 45, 1) 99%);
	background-image: -moz-linear-gradient(rgba(204, 232, 179, 1) 0%, rgba(122, 185, 54, 1) 47%, rgba(98, 173, 18, 1) 49%, rgba(143, 196, 44, 1) 98%, rgba(144, 197, 45, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(204, 232, 179, 1) 0%, rgba(122, 185, 54, 1) 47%, rgba(98, 173, 18, 1) 49%, rgba(143, 196, 44, 1) 98%, rgba(144, 197, 45, 1) 99%);
	background-image: -o-linear-gradient(rgba(204, 232, 179, 1) 0%, rgba(122, 185, 54, 1) 47%, rgba(98, 173, 18, 1) 49%, rgba(143, 196, 44, 1) 98%, rgba(144, 197, 45, 1) 99%);
	background-image: -ms-linear-gradient(rgba(204, 232, 179, 1) 0%, rgba(122, 185, 54, 1) 47%, rgba(98, 173, 18, 1) 49%, rgba(143, 196, 44, 1) 98%, rgba(144, 197, 45, 1) 99%);
}
.WebButton002 {
	background-color: #77a2e9;
	border-color: #dcdcdc;
	border-width: 1px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 98%, rgba(246, 246, 246, 1) 99%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 98%, rgba(246, 246, 246, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 98%, rgba(246, 246, 246, 1) 99%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 98%, rgba(246, 246, 246, 1) 99%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 98%, rgba(246, 246, 246, 1) 99%);
}
.WebButton003 {
	background-color: #77a2e9;
	border-color: #ffffff;
	border-width: 1px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 97%, rgba(227, 227, 227, 1) 98%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 97%, rgba(227, 227, 227, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 97%, rgba(227, 227, 227, 1) 98%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 97%, rgba(227, 227, 227, 1) 98%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 97%, rgba(227, 227, 227, 1) 98%);
}
.WebButton004 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: radial-gradient(rgba(241, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 99%);
	background-image: -moz-radial-gradient(rgba(241, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 99%);
	background-image: -webkit-radial-gradient(rgba(241, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 99%);
	background-image: -o-radial-gradient(rgba(241, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 99%);
	background-image: -ms-radial-gradient(rgba(241, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 99%);
}
.WebButton005 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(239, 239, 239, 1) 97%, rgba(239, 239, 239, 1) 97%);
	background-image: -moz-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(239, 239, 239, 1) 97%, rgba(239, 239, 239, 1) 97%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(239, 239, 239, 1) 97%, rgba(239, 239, 239, 1) 97%);
	background-image: -o-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(239, 239, 239, 1) 97%, rgba(239, 239, 239, 1) 97%);
	background-image: -ms-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(239, 239, 239, 1) 97%, rgba(239, 239, 239, 1) 97%);
}
.WebButton006 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(237, 237, 237, 1) 47%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 96%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(237, 237, 237, 1) 47%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 96%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(237, 237, 237, 1) 47%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 96%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(237, 237, 237, 1) 47%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 96%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(237, 237, 237, 1) 47%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 96%);
}
.WebButton007 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(249, 249, 249, 1) 47%, rgba(237, 237, 237, 1) 71%, rgba(208, 208, 208, 1) 96%, rgba(207, 207, 207, 1) 97%);
	background-image: -moz-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(249, 249, 249, 1) 47%, rgba(237, 237, 237, 1) 71%, rgba(208, 208, 208, 1) 96%, rgba(207, 207, 207, 1) 97%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(249, 249, 249, 1) 47%, rgba(237, 237, 237, 1) 71%, rgba(208, 208, 208, 1) 96%, rgba(207, 207, 207, 1) 97%);
	background-image: -o-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(249, 249, 249, 1) 47%, rgba(237, 237, 237, 1) 71%, rgba(208, 208, 208, 1) 96%, rgba(207, 207, 207, 1) 97%);
	background-image: -ms-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(249, 249, 249, 1) 47%, rgba(237, 237, 237, 1) 71%, rgba(208, 208, 208, 1) 96%, rgba(207, 207, 207, 1) 97%);
}
.WebButton014 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(228, 228, 228, 1) 93%, rgba(226, 226, 226, 1) 96%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(228, 228, 228, 1) 93%, rgba(226, 226, 226, 1) 96%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(228, 228, 228, 1) 93%, rgba(226, 226, 226, 1) 96%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(228, 228, 228, 1) 93%, rgba(226, 226, 226, 1) 96%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(228, 228, 228, 1) 93%, rgba(226, 226, 226, 1) 96%);
}
.WebButton012 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 60%, rgba(233, 233, 233, 1) 95%, rgba(232, 232, 232, 1) 98%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 60%, rgba(233, 233, 233, 1) 95%, rgba(232, 232, 232, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 60%, rgba(233, 233, 233, 1) 95%, rgba(232, 232, 232, 1) 98%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 60%, rgba(233, 233, 233, 1) 95%, rgba(232, 232, 232, 1) 98%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 60%, rgba(233, 233, 233, 1) 95%, rgba(232, 232, 232, 1) 98%);
}
.WebButton009 {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(254, 254, 255, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(242, 242, 242, 1) 96%, rgba(241, 241, 241, 1) 99%);
	background-image: -moz-linear-gradient(rgba(254, 254, 255, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(242, 242, 242, 1) 96%, rgba(241, 241, 241, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 255, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(242, 242, 242, 1) 96%, rgba(241, 241, 241, 1) 99%);
	background-image: -o-linear-gradient(rgba(254, 254, 255, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(242, 242, 242, 1) 96%, rgba(241, 241, 241, 1) 99%);
	background-image: -ms-linear-gradient(rgba(254, 254, 255, 1) 0%, rgba(254, 254, 254, 1) 50%, rgba(242, 242, 242, 1) 96%, rgba(241, 241, 241, 1) 99%);
}
.WebButton008 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 44%, rgba(238, 238, 236, 1) 93%, rgba(237, 237, 235, 1) 96%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 44%, rgba(238, 238, 236, 1) 93%, rgba(237, 237, 235, 1) 96%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 44%, rgba(238, 238, 236, 1) 93%, rgba(237, 237, 235, 1) 96%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 44%, rgba(238, 238, 236, 1) 93%, rgba(237, 237, 235, 1) 96%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 44%, rgba(238, 238, 236, 1) 93%, rgba(237, 237, 235, 1) 96%);
}
.WebButton015 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(250, 250, 250, 1) 48%, rgba(238, 238, 238, 1) 49%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 99%);
	background-image: -moz-linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(250, 250, 250, 1) 48%, rgba(238, 238, 238, 1) 49%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(250, 250, 250, 1) 48%, rgba(238, 238, 238, 1) 49%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 99%);
	background-image: -o-linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(250, 250, 250, 1) 48%, rgba(238, 238, 238, 1) 49%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 99%);
	background-image: -ms-linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(250, 250, 250, 1) 48%, rgba(238, 238, 238, 1) 49%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 99%);
}
.WebButton016 {
	background-color: #ffffff;
	border-color: #ffffff;
	border-width: 3px;
	background-image: linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(251, 251, 251, 1) 47%, rgba(242, 242, 242, 1) 48%, rgba(255, 255, 255, 1) 100%);
	background-image: -moz-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(251, 251, 251, 1) 47%, rgba(242, 242, 242, 1) 48%, rgba(255, 255, 255, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(251, 251, 251, 1) 47%, rgba(242, 242, 242, 1) 48%, rgba(255, 255, 255, 1) 100%);
	background-image: -o-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(251, 251, 251, 1) 47%, rgba(242, 242, 242, 1) 48%, rgba(255, 255, 255, 1) 100%);
	background-image: -ms-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(251, 251, 251, 1) 47%, rgba(242, 242, 242, 1) 48%, rgba(255, 255, 255, 1) 100%);
}
.WebButton017 {
	background-color: #ffffff;
	border-color: #f5f5f5;
	border-width: 5px;
}
.WebButton018 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 100%);
	background-image: -moz-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 100%);
	background-image: -o-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 100%);
	background-image: -ms-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 100%);
}
.azul_claro {
	background-color: #0071b2;
}
.Estilo3 {
	background-color: #43bd14;
}
.Estilo4 {
	background-color: #ffffff;
}
.WebButton034 {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -moz-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -o-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -ms-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
}
.buttongreen {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -moz-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -o-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
	background-image: -ms-linear-gradient(rgba(105, 203, 69, 1) 0%, rgba(105, 203, 69, 1) 4%, rgba(91, 195, 43, 1) 16%, rgba(75, 185, 0, 1) 53%, rgba(58, 176, 0, 1) 99%);
}
.buttonblue {
	background-color: #0088c9;
	background-image: linear-gradient(rgba(0, 161, 254, 1) 0%, rgba(0, 161, 254, 1) 4%, rgba(0, 161, 254, 1) 16%, rgba(0, 149, 237, 1) 53%, rgba(0, 137, 206, 1) 99%);
	background-image: -moz-linear-gradient(rgba(0, 161, 254, 1) 0%, rgba(0, 161, 254, 1) 4%, rgba(0, 161, 254, 1) 16%, rgba(0, 149, 237, 1) 53%, rgba(0, 137, 206, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(0, 161, 254, 1) 0%, rgba(0, 161, 254, 1) 4%, rgba(0, 161, 254, 1) 16%, rgba(0, 149, 237, 1) 53%, rgba(0, 137, 206, 1) 99%);
	background-image: -o-linear-gradient(rgba(0, 161, 254, 1) 0%, rgba(0, 161, 254, 1) 4%, rgba(0, 161, 254, 1) 16%, rgba(0, 149, 237, 1) 53%, rgba(0, 137, 206, 1) 99%);
	background-image: -ms-linear-gradient(rgba(0, 161, 254, 1) 0%, rgba(0, 161, 254, 1) 4%, rgba(0, 161, 254, 1) 16%, rgba(0, 149, 237, 1) 53%, rgba(0, 137, 206, 1) 99%);
}
.buttonorange {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(254, 158, 34, 1) 0%, rgba(254, 158, 34, 1) 4%, rgba(248, 136, 0, 1) 16%, rgba(245, 127, 0, 1) 53%, rgba(244, 124, 0, 1) 99%);
	background-image: -moz-linear-gradient(rgba(254, 158, 34, 1) 0%, rgba(254, 158, 34, 1) 4%, rgba(248, 136, 0, 1) 16%, rgba(245, 127, 0, 1) 53%, rgba(244, 124, 0, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(254, 158, 34, 1) 0%, rgba(254, 158, 34, 1) 4%, rgba(248, 136, 0, 1) 16%, rgba(245, 127, 0, 1) 53%, rgba(244, 124, 0, 1) 99%);
	background-image: -o-linear-gradient(rgba(254, 158, 34, 1) 0%, rgba(254, 158, 34, 1) 4%, rgba(248, 136, 0, 1) 16%, rgba(245, 127, 0, 1) 53%, rgba(244, 124, 0, 1) 99%);
	background-image: -ms-linear-gradient(rgba(254, 158, 34, 1) 0%, rgba(254, 158, 34, 1) 4%, rgba(248, 136, 0, 1) 16%, rgba(245, 127, 0, 1) 53%, rgba(244, 124, 0, 1) 99%);
}
.WebButton182 {
	background-color: #ffffff;
	border-color: #ff8900;
	border-width: 3px;
	background-image: linear-gradient(rgba(255, 196, 124, 1) 0%, rgba(255, 196, 124, 1) 9%, rgba(255, 150, 19, 1) 50%, rgba(255, 137, 0, 1) 51%, rgba(255, 150, 32, 1) 90%, rgba(255, 150, 32, 1) 98%);
	background-image: -moz-linear-gradient(rgba(255, 196, 124, 1) 0%, rgba(255, 196, 124, 1) 9%, rgba(255, 150, 19, 1) 50%, rgba(255, 137, 0, 1) 51%, rgba(255, 150, 32, 1) 90%, rgba(255, 150, 32, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(255, 196, 124, 1) 0%, rgba(255, 196, 124, 1) 9%, rgba(255, 150, 19, 1) 50%, rgba(255, 137, 0, 1) 51%, rgba(255, 150, 32, 1) 90%, rgba(255, 150, 32, 1) 98%);
	background-image: -o-linear-gradient(rgba(255, 196, 124, 1) 0%, rgba(255, 196, 124, 1) 9%, rgba(255, 150, 19, 1) 50%, rgba(255, 137, 0, 1) 51%, rgba(255, 150, 32, 1) 90%, rgba(255, 150, 32, 1) 98%);
	background-image: -ms-linear-gradient(rgba(255, 196, 124, 1) 0%, rgba(255, 196, 124, 1) 9%, rgba(255, 150, 19, 1) 50%, rgba(255, 137, 0, 1) 51%, rgba(255, 150, 32, 1) 90%, rgba(255, 150, 32, 1) 98%);
}
.WebButton183 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(250, 204, 59, 1) 0%, rgba(244, 145, 23, 1) 44%, rgba(239, 91, 5, 1) 97%, rgba(239, 89, 4, 1) 99%);
	background-image: -moz-linear-gradient(rgba(250, 204, 59, 1) 0%, rgba(244, 145, 23, 1) 44%, rgba(239, 91, 5, 1) 97%, rgba(239, 89, 4, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(250, 204, 59, 1) 0%, rgba(244, 145, 23, 1) 44%, rgba(239, 91, 5, 1) 97%, rgba(239, 89, 4, 1) 99%);
	background-image: -o-linear-gradient(rgba(250, 204, 59, 1) 0%, rgba(244, 145, 23, 1) 44%, rgba(239, 91, 5, 1) 97%, rgba(239, 89, 4, 1) 99%);
	background-image: -ms-linear-gradient(rgba(250, 204, 59, 1) 0%, rgba(244, 145, 23, 1) 44%, rgba(239, 91, 5, 1) 97%, rgba(239, 89, 4, 1) 99%);
}
.WebButton191 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(254, 153, 53, 1) 0%, rgba(255, 129, 6, 1) 50%, rgba(255, 127, 0, 1) 98%);
	background-image: -moz-linear-gradient(rgba(254, 153, 53, 1) 0%, rgba(255, 129, 6, 1) 50%, rgba(255, 127, 0, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(254, 153, 53, 1) 0%, rgba(255, 129, 6, 1) 50%, rgba(255, 127, 0, 1) 98%);
	background-image: -o-linear-gradient(rgba(254, 153, 53, 1) 0%, rgba(255, 129, 6, 1) 50%, rgba(255, 127, 0, 1) 98%);
	background-image: -ms-linear-gradient(rgba(254, 153, 53, 1) 0%, rgba(255, 129, 6, 1) 50%, rgba(255, 127, 0, 1) 98%);
}
.WebButton187 {
	background-color: #f2eee9;
	background-image: linear-gradient(rgba(255, 155, 0, 1) 0%, rgba(255, 155, 0, 1) 17%, rgba(255, 120, 0, 1) 24%, rgba(255, 189, 0, 1) 81%, rgba(255, 189, 0, 1) 98%);
	background-image: -moz-linear-gradient(rgba(255, 155, 0, 1) 0%, rgba(255, 155, 0, 1) 17%, rgba(255, 120, 0, 1) 24%, rgba(255, 189, 0, 1) 81%, rgba(255, 189, 0, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(255, 155, 0, 1) 0%, rgba(255, 155, 0, 1) 17%, rgba(255, 120, 0, 1) 24%, rgba(255, 189, 0, 1) 81%, rgba(255, 189, 0, 1) 98%);
	background-image: -o-linear-gradient(rgba(255, 155, 0, 1) 0%, rgba(255, 155, 0, 1) 17%, rgba(255, 120, 0, 1) 24%, rgba(255, 189, 0, 1) 81%, rgba(255, 189, 0, 1) 98%);
	background-image: -ms-linear-gradient(rgba(255, 155, 0, 1) 0%, rgba(255, 155, 0, 1) 17%, rgba(255, 120, 0, 1) 24%, rgba(255, 189, 0, 1) 81%, rgba(255, 189, 0, 1) 98%);
}
.WebButton186 {
	background-color: #ff6203;
	background-image: linear-gradient(rgba(249, 206, 98, 1) 0%, rgba(255, 167, 70, 1) 48%, rgba(255, 141, 22, 1) 49%, rgba(255, 156, 49, 1) 81%, rgba(255, 156, 49, 1) 99%);
	background-image: -moz-linear-gradient(rgba(249, 206, 98, 1) 0%, rgba(255, 167, 70, 1) 48%, rgba(255, 141, 22, 1) 49%, rgba(255, 156, 49, 1) 81%, rgba(255, 156, 49, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(249, 206, 98, 1) 0%, rgba(255, 167, 70, 1) 48%, rgba(255, 141, 22, 1) 49%, rgba(255, 156, 49, 1) 81%, rgba(255, 156, 49, 1) 99%);
	background-image: -o-linear-gradient(rgba(249, 206, 98, 1) 0%, rgba(255, 167, 70, 1) 48%, rgba(255, 141, 22, 1) 49%, rgba(255, 156, 49, 1) 81%, rgba(255, 156, 49, 1) 99%);
	background-image: -ms-linear-gradient(rgba(249, 206, 98, 1) 0%, rgba(255, 167, 70, 1) 48%, rgba(255, 141, 22, 1) 49%, rgba(255, 156, 49, 1) 81%, rgba(255, 156, 49, 1) 99%);
}
.WebButton044 {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(240, 241, 241, 1) 51%, rgba(228, 230, 231, 1) 93%, rgba(227, 229, 230, 1) 96%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(240, 241, 241, 1) 51%, rgba(228, 230, 231, 1) 93%, rgba(227, 229, 230, 1) 96%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(240, 241, 241, 1) 51%, rgba(228, 230, 231, 1) 93%, rgba(227, 229, 230, 1) 96%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(240, 241, 241, 1) 51%, rgba(228, 230, 231, 1) 93%, rgba(227, 229, 230, 1) 96%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(240, 241, 241, 1) 51%, rgba(228, 230, 231, 1) 93%, rgba(227, 229, 230, 1) 96%);
}
.WebButton045 {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(213, 211, 212, 1) 97%, rgba(213, 211, 212, 1) 98%);
	background-image: -moz-linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(213, 211, 212, 1) 97%, rgba(213, 211, 212, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(213, 211, 212, 1) 97%, rgba(213, 211, 212, 1) 98%);
	background-image: -o-linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(213, 211, 212, 1) 97%, rgba(213, 211, 212, 1) 98%);
	background-image: -ms-linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(213, 211, 212, 1) 97%, rgba(213, 211, 212, 1) 98%);
}
.WebButton036 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -moz-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -o-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -ms-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
}
.WebButton033 {
	background-color: #dbdbdb;
	background-image: linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(227, 227, 227, 1) 48%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 99%);
	background-image: -moz-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(227, 227, 227, 1) 48%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(227, 227, 227, 1) 48%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 99%);
	background-image: -o-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(227, 227, 227, 1) 48%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 99%);
	background-image: -ms-linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(240, 240, 240, 1) 47%, rgba(227, 227, 227, 1) 48%, rgba(242, 242, 242, 1) 99%, rgba(242, 242, 242, 1) 99%);
}
.WebButton010 {
	background-color: #77a2e9;
	background-image: linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 45%, rgba(224, 224, 224, 1) 95%, rgba(222, 222, 222, 1) 99%);
	background-image: -moz-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 45%, rgba(224, 224, 224, 1) 95%, rgba(222, 222, 222, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 45%, rgba(224, 224, 224, 1) 95%, rgba(222, 222, 222, 1) 99%);
	background-image: -o-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 45%, rgba(224, 224, 224, 1) 95%, rgba(222, 222, 222, 1) 99%);
	background-image: -ms-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(247, 247, 247, 1) 45%, rgba(224, 224, 224, 1) 95%, rgba(222, 222, 222, 1) 99%);
}
.WebButton032 {
	background-color: #77a2e9;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 98%, rgba(229, 229, 229, 1) 98%);
}
.WebButton031 {
	background-color: #77a2e9;
	border-color: #ffffff;
	border-width: 2px;
	background-image: linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(246, 247, 247, 1) 46%, rgba(242, 243, 243, 1) 70%, rgba(229, 231, 230, 1) 96%, rgba(227, 229, 228, 1) 100%);
	background-image: -moz-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(246, 247, 247, 1) 46%, rgba(242, 243, 243, 1) 70%, rgba(229, 231, 230, 1) 96%, rgba(227, 229, 228, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(246, 247, 247, 1) 46%, rgba(242, 243, 243, 1) 70%, rgba(229, 231, 230, 1) 96%, rgba(227, 229, 228, 1) 100%);
	background-image: -o-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(246, 247, 247, 1) 46%, rgba(242, 243, 243, 1) 70%, rgba(229, 231, 230, 1) 96%, rgba(227, 229, 228, 1) 100%);
	background-image: -ms-linear-gradient(rgba(254, 254, 254, 1) 0%, rgba(246, 247, 247, 1) 46%, rgba(242, 243, 243, 1) 70%, rgba(229, 231, 230, 1) 96%, rgba(227, 229, 228, 1) 100%);
}
.buttongrey {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 16%, rgba(238, 238, 238, 1) 53%, rgba(221, 221, 221, 1) 99%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 16%, rgba(238, 238, 238, 1) 53%, rgba(221, 221, 221, 1) 99%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 16%, rgba(238, 238, 238, 1) 53%, rgba(221, 221, 221, 1) 99%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 16%, rgba(238, 238, 238, 1) 53%, rgba(221, 221, 221, 1) 99%);
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 1) 16%, rgba(238, 238, 238, 1) 53%, rgba(221, 221, 221, 1) 99%);
}
.Estilo5 {
	border-color: #ff3f3f;
}
.Estilo6 {
	color: #000000;
	font-family: Arial;
	font-size: 20px;
}
.Estilo7 {
	color: #999999;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}
.Estilo8 {
	color: #656565;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
}
.Estilo9 {
	background-color: #0077b7;
}
.Estilo10 {
	background-color: #00a1fe;
}
.Estilo11 {
	background-color: #ffffff;
}
